<ng-container *ngIf="editingMode">
  <mat-tab-group fxFill>
    <ng-container *ngFor="let child of layoutConfig.children">
      <mat-tab>
        <ng-template mat-tab-label>
          <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="4px">
            <mat-form-field floatLabel="never" (click)="$event.preventDefault()">
              <input
                matInput
                placeholder="Tab name"
                [(ngModel)]="child.config.name"
                (keydown)="$event.stopPropagation()"
              />
            </mat-form-field>
            <button
              mat-icon-button
              [disabled]="layoutConfig.children.length === 1"
              (click)="removeTab(child)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </ng-template>

        <dl-dynamic-layout
          fxFill
          [pageId]="pageId"
          [editingMode]="editingMode"
          [layoutConfig]="child.component"
        ></dl-dynamic-layout>
      </mat-tab>
    </ng-container>

    <mat-tab disabled>
      <ng-template mat-tab-label>
        <button mat-icon-button (click)="addTab()">
          <mat-icon> add </mat-icon>
        </button>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</ng-container>

<ng-container *ngIf="!editingMode">
  <mat-tab-group fxFill>
    <ng-container *ngFor="let child of layoutConfig.children">
      <mat-tab [label]="child.config.name">
        <dl-dynamic-layout
          fxFill
          [pageId]="pageId"
          [editingMode]="editingMode"
          [layoutConfig]="child.component"
        ></dl-dynamic-layout>
      </mat-tab>
    </ng-container>
  </mat-tab-group>
</ng-container>
