<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
  <ng-container *ngIf="!editingMode">
    <button mat-button (click)="turnOnEditing.emit()">
      <mat-icon>edit</mat-icon>
      Edit layout
    </button>
  </ng-container>

  <ng-container *ngIf="editingMode">
    <button
      mat-raised-button
      color="primary"
      (click)="saveLayoutChanges.emit()"
    >
      <mat-icon>save</mat-icon>
      Save layout
    </button>
    <button
      mat-raised-button
      color="secondary"
      (click)="discardLayoutChanges.emit()"
    >
      <mat-icon>close</mat-icon>
      Discard changes
    </button>
  </ng-container>
</div>
