<div fxLayout="column" fxFlex>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="cancel()"><mat-icon>close</mat-icon></button>

    <mat-label fxFlex>Add new variable</mat-label>

    <button
      mat-raised-button
      (click)="addNewVariable()"
      [disabled]="!variableName"
      color="secondary"
    >
      ADD VARIABLE
    </button>
  </mat-toolbar>

  <div fxLayoutAlign="center center" class="dialog-content">
    <mat-form-field appearance="outline">
      <mat-label>Variable name</mat-label>
      <input matInput [(ngModel)]="variableName" />
    </mat-form-field>
  </div>
</div>
