<div *ngIf="componentConfig" fxFill fxLayoutAlign="center center">
  <ng-container *ngIf="showComponentConfiguration()">
    <dl-component-config
      [pageId]="pageId"
      [componentConfig]="componentConfig"
    ></dl-component-config>
  </ng-container>

  <ng-container *ngIf="!showComponentConfiguration()">
    <dl-component-container
      fxFill
      [pageId]="pageId"
      [editingMode]="editingMode"
      [componentConfig]="componentConfig"
    ></dl-component-container>
  </ng-container>
</div>
