.container {
}

.editing-container {
  border: 1px solid black;
  background: lightgrey;
}

.toolbar {
}

.vertical-split .mat-icon {
  transform: rotate(90deg);
}

.child-container {
  padding: 32px;
  padding-top: 0px;
}
