<div fxFlex fxLayout="column">
  <ng-container *ngIf="!layoutConfig.children">
    <div
      [ngClass]="{ 'editing-container': editingMode }"
      fxFlex
      fxLayout="column"
      fxLayoutAlign="start stretch"
    >
      <div
        *ngIf="editingMode"
        fxLayout="row"
        fxLayoutAlign="center center"
        class="toolbar"
      >
        <div fxLayout="row" fxFlex fxLayoutAlign="start center">
          <mat-form-field class="component-selector">
            <mat-label>Component</mat-label>
            <mat-select
              [value]="layoutConfig.component?.type"
              (valueChange)="selectComponent($event)"
            >
              <mat-option></mat-option>
              <mat-option
                *ngFor="let component of (availableComponents$ | async)"
                [value]="component"
              >
                {{ component }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
          <mat-slide-toggle
            *ngIf="isComponentConfigurable()"
            [(ngModel)]="configureComponent"
          >
            Configure component
          </mat-slide-toggle>

          <button
            mat-icon-button
            (click)="splitLayout(false)"
            class="vertical-split"
          >
            <mat-icon>view_agenda</mat-icon>
          </button>
          <button mat-icon-button (click)="splitLayout(true)">
            <mat-icon>view_agenda</mat-icon>
          </button>
          <button
            mat-icon-button
            [disabled]="!childLayout"
            (click)="deleteSelf.emit()"
          >
            <mat-icon>close</mat-icon>
          </button>
        </div>
      </div>

      <!-- If layout does not have children and is not editing, display the component -->
      <div
        *ngIf="layoutConfig.component"
        fxFlex
        fxLayoutAlign="center center"
        [ngClass]="{ 'child-container': editingMode }"
      >
        <dl-dynamic-container
          fxFill
          fxLayoutAlign="center center"
          [pageId]="pageId"
          [editingMode]="editingMode"
          [configuringMode]="configureComponent"
          [componentConfig]="layoutConfig.component"
        ></dl-dynamic-container>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="layoutConfig.children">
    <!-- If layout has children and is editing, display the children in
      as-split to let the user change the size of the layout -->
    <as-split
      fxFlex
      *ngIf="editingMode"
      [direction]="layoutConfig.children.column ? 'vertical' : 'horizontal'"
      (dragEnd)="resizeEnd($event)"
    >
      <as-split-area [size]="layoutConfig.children.split">
        <dl-dynamic-layout
          fxFlex
          [pageId]="pageId"
          [editingMode]="editingMode"
          [childLayout]="true"
          [layoutConfig]="layoutConfig.children.first"
          (deleteSelf)="deleteChild(true)"
        ></dl-dynamic-layout>
      </as-split-area>
      <as-split-area [size]="100 - layoutConfig.children.split">
        <dl-dynamic-layout
          fxFlex
          [pageId]="pageId"
          [editingMode]="editingMode"
          [childLayout]="true"
          [layoutConfig]="layoutConfig.children.second"
          (deleteSelf)="deleteChild(false)"
        ></dl-dynamic-layout>
      </as-split-area>
    </as-split>

    <ng-container *ngIf="!editingMode">
      <!-- If layout has children but is not editing, display normal divs according to the size -->
      <div [fxLayout]="layoutConfig.children.column ? 'column' : 'row'">
        <div [fxFlex]="layoutConfig.children.split">
          <dl-dynamic-layout
            fxFlex
            [pageId]="pageId"
            [editingMode]="editingMode"
            [layoutConfig]="layoutConfig.children.first"
          ></dl-dynamic-layout>
        </div>
        <div [fxFlex]="100 - layoutConfig.children.split">
          <dl-dynamic-layout
            fxFlex
            [pageId]="pageId"
            [editingMode]="editingMode"
            [layoutConfig]="layoutConfig.children.second"
          ></dl-dynamic-layout>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
