.container {
}

.editing-container {
  border: 1px solid black;
  background: lightgrey;
}

.toolbar {
  padding-left: 32px;
  padding-right: 16px;
}

.component-selector {
  margin-top: 8px;
  width: 16em;
}

.vertical-split .mat-icon {
  transform: rotate(90deg);
}

.child-container {
  padding: 32px;
  padding-top: 0px;
}
